<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
  <body>
    <div class="contentContainer">
      <%- include("./partials/nav.ejs") %>
      <div class="blogs content">
        <% if(blogs.length) { %> <% blogs.forEach(blog => {%>
          <h2><%= blog.title %></h2>
          <p><%= blog.blogText %></p>
          <% })%> <% } else {%>
          <p>No blogs available yet...</p>
          <% }%>
      </div>
      <%- include("./partials/footer.ejs") %>
    </div> 
  </body>
</html>